@using PPWebApp.Models
@model List<PPWebApp.Models.Furniture>


@{

    foreach (var furniture in Model)
    {
        <div>@furniture.Color</div>
        @furniture.Description
        <a href="/Furniture/Show/@furniture.Id">@furniture.Name</a>

       // <div class="listcat"><a href="/Pet/Show/@Pet.PetID">@Pet.PetName</a></div>


    }

}