@using PPWebApp.Models
@model List<PPWebApp.Models.Furniture>


@{

    <div class="">
        <a class="" href="/Furniture/New">Add New Item</a><br/><br/>
    </div>

    foreach (var furniture in Model)
    {
        <a href="/Furniture/Show/@furniture.Id">@furniture.Name</a>
        <div>@furniture.Color</div>
        <div>@furniture.Description</div>


        // <div class="listcat"><a href="/Pet/Show/@Pet.PetID">@Pet.PetName</a></div>


    }

}