<!--Tell it where to pull the information from-->
<!--Pull the list controller from the PPWebApp. Go to the Model and select the
category-->
@model  List<PPWebApp.Models.Category>

@{
<!--matches with the "Add" controller-->
    ViewBag.Title = "Add";
}


    <h2>Add Furniture</h2>

 
<form method="POST" action="/Furniture/New">
    <select name="CategoryID" id="furcat">
        @{
            //for each category in the model display the name
            foreach (var category in Model)
            {

                <option value="@category.Id">@category.Name</option>

            }

        }

    </select>

    <div>Name:<input type="text" name="furname" id="furname"/></div>
    <div>Price: <input type="text" name="furprice" id="furprice"/></div>
    <div>Color:<input type="text" name="furcolor" id="furcolor"/></div>
    <div>Height:<input type="text" name="furheight" id="furheight"/></div>
    <div>Width:<input type="text" name="furwidth" id="furwidth"/></div>
    <div>Depth:<input type="text" name="furdepth" id="furdepth"/></div>
    <div>Weight:<input type="text" name="furweight" id="furweight"/></div>
    <div>Description:<input type="text" name="furdescription" id="furdescription"/></div>

    <div><input type="submit" value="Add Furniture"/></div>
</form>

<a href="/Furniture/List">Back to Furniture List</a>

  






