@using PPWebApp.Models
@model List<PPWebApp.Models.Category>


@{


    <div class="">
        <a class="" href="/Category/New">Add New Category</a><br /><br />
    </div>

    foreach (var category in Model)
    {

        <div><a href="/Category/Show/@category.Id">@category.Name</a></div>

    }


}