@model  List<PPWebApp.Models.Category>

@{
    <!--matches with the "Add" controller-->
    ViewBag.Title = "Add";
}


<h2>Add Category</h2>


<form method="POST" action="/Category/New">

    <div>Name:<input type="text" name="catname" id="catname" /></div>

    <div><input type="submit" value="Add Category" /></div>

</form>

<a href="/Category/List">Back to Category List</a>